<html>
 
 <center><h1 style="font-family:verdana;">Welcome to Cinema Selector!</h1></center>
 <center><h2> Take your pick and find your flick </h2></center>
 <br>
 <h2>Which genre would you like to watch?</h2>
  <body>
      <!--<body style="background-color:powderblue;">-->
    <ul style="list-style-type:square">
     <b><li><a href="/comedy">Comedy</a></li></b>
     <br>
      <b><li><a href="/action">Action</a></li></b>
       <b><li><a href="/horror">Horror</a></li></b>
        <b><li><a href="/mystery">Mystery</a></li></b>
          <b><li><a href="/drama">Drama</a></li></b>
    </ul>




  </body>
</html>
